.container_fluid{
    background-image: linear-gradient( to top, rgba(245, 252, 246, 0.52), rgba(103, 201, 152, 0.664)),
     url("./imges/pexels-david-gonzales-2640604.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 2rem;
    transition: .2s ease-in-out;
}
.navbar-brand:hover {
    transform: scale(1.1);
}
.nav-link {
    margin-left: 1vw;
    transition: .2s ease-in-out;
}
.nav-link:hover {
    transform: scale(1.1);
}
.image_line_div {
    width: 10vw; 
    height: 0.5vh; 
    background-color: white;
}

#txt_simple_online_home_loan {
    font-size: 4vw; 
    font-weight: bold; 
    color: white;
    margin-top: 5vh;
}

#our_services_btn {
    padding: 2vw 4vw 2vw 4vw; 
    background-color: transparent !important; 
    border-color: white;

} 

.image{
    background-image: url("./imges/guyslecture.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-top: 10vh;
}

.line_div {
    width: 30vw;
    height: 0.1vh;
    margin-left: 0.5vw;
    margin-top: 4vh;
    background-color: mediumaquamarine;

}

#learn_more {
    width: 14vw; 
    height: 8vh; 
    background-color: transparent !important; 
    border-color: mediumaquamarine;
    color: mediumseagreen; 
    font-size: 1.5vw; 
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 1vw;
}

.image{
    background-image: url("./imges/guyslecture.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    margin-top: 10vh;
}

#text_container {
    width: 70vw;
    margin-left: 10vw;
}

.footer_line {
    background-color: mediumspringgreen; 
    width: 90vw; 
    margin-top: 5vh; 
    height: 0.1vw;
}
.pop_up_div {
    width: 15rem; 
    height: 20vh; 
    background-color: mediumseagreen;
    margin-left: 25vw;
    margin-top: -15vh
}
.underline_div {
    width: 7rem; 
    height: 0.5vh; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3vh; 
    background-color: mediumseagreen;
}

.image_line_div {
    width: 4rem;
}

#line_div2 {
    width: 7rem; 
    height: 0.5vh; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 3vh; 
    background-color: mediumseagreen;
}

#bg_color {
    background: #8dcfc99a; 
    height: 90vh;
}

.me {
    width: 8rem;
    margin-left: 3.8rem; 
}

.my_img {
    height: 60vh;
}

.carousel-item { 
    width: 60rem; 
    margin-left: 13vw;
}
@media (min-width: 768px) and (max-width: 769px) { 
    .pop_up_div {
        width: 18rem; 
        height: 20vh; 
        background-color: mediumseagreen;
        margin-left: 50vw;
        margin-top: -15vh
    }

    #learn_more {
        width: 14rem; 
        font-size: 2vw; 
    }

    #bg_color {
        height: 140vh;
    }

    .me {
        width: 8rem;
        margin-left: 4.5rem; 
    }
}

@media (min-width: 1024px) and (max-width: 1025px) { 

    .image{
        height: 45vh;
        width: 30rem;
    }
    .pop_up_div {
        width: 18rem; 
        height: 15vh;
        background-color: mediumseagreen;
    }

    #learn_more {
        width: 14rem; 
        font-size: 2vw; 
    }

    #bg_color {
        background: #8dcfc99a; 
        height: 60vh;
    }

    .me {
        width: 10rem;
        margin-left: 0.5rem; 

    }
    .carousel-item { 
        width: 60rem; 
        margin-left: 1vw;
    }

    .my_img {
        height: 40vh;
        width: 25rem;
    }
}

@media (min-width: 320px) and (max-width: 321px) { 

    .pop_up_div {
        width: 12rem; 
        height: 15vh;
        margin-left: 30vw;
        background-color: mediumseagreen;
    }

    #learn_more {
        width: 10rem; 
        font-size: 5vw; 
    }
   
    #bg_color {
        background: #8dcfc99a; 
        height: 220vh;
    }

    .me {
        margin-left: 1.8rem; 
    }

    .my_img {
        width: 18rem;
        height: 60vh;
    }
}

@media (min-width: 375px) and (max-width: 376px) { 

    .pop_up_div {
        width: 12rem; 
        height: 15vh;
        margin-left: 38vw;
        background-color: mediumseagreen;
    }

    #learn_more {
        width: 10rem; 
        font-size: 5vw; 
    }

    #bg_color {
        background: #8dcfc99a; 
        height: 175vh;
    }

    .me {
        margin-left: 3.5rem; 
    }
    .my_img {
        width: 22rem;
        height: 60vh;
    }
}

@media (min-width: 360px) and (max-width: 361px) { 

    #bg_color {
        background: #8dcfc99a; 
        height: 190vh;
    }


    #learn_more {
        width: 10rem; 
        font-size: 5vw; 
    }

    .me {
        width: 10rem;
        margin-left: 2rem; 
    }

    .my_img {
        width: 20rem;
        height: 60vh;
    }
}

@media (min-width: 411px) and (max-width: 414px) { 

    .pop_up_div {
        width: 12rem; 
        height: 15vh;
        margin-left: 45vw;
        background-color: mediumseagreen;
    }

    #learn_more {
        width: 15rem; 
        font-size: 5vw; 
    }
    
    #bg_color{
        background: #8dcfc99a; 
        height: 170vh;
    }

    .me {
        margin-left: 4.5rem; 
    }

    .my_img {
        width: 24rem;
        height: 60vh;
    }

}