.container_div{
    height: 100vh;
    background-image: url("./com");
    background-repeat: no-repeat;
    background-size: cover;
}

 #image_container {
    /* width: 100vw; */
    height: 90vh;
    /* margin-left: auto;
    margin-right: auto; */
} 

/* #nav_div {
    /* width: 100vw; */
    /* height: 15vh; */
    /* background-color: red; */
/* }  */

#nav-ul{
    margin-left: 35vw
}
li {
    margin-left: 1vw;
}

#first_card{
    margin-top: 10vh;
    background-color: transparent !important;
    border: none;
}

#our_services_btn {
    width: 14vw; 
    height: 10vh; 
    background-color: transparent !important; 
    border-color: white; 
    font-size: 1.5vw; 
    font-weight: bold;
}

#second_card {
    margin-top: 10vh;
}

#second_container_div {
    height: 80vh;
    background-color: white;
}

.solutions_business_needs{
    text-align: center;
    font-weight: bold;
    padding-top: 12vh;
}

#icon_container_div {
    display: grid;
    grid-template-columns: 23vw 20vw 23vw;
    column-gap: 13vw;
    height: 10vh;
    margin-top: 4vh;
}

#first_icon_div {
    margin-left: 10vw;
}

#second_icon_div {
    margin-left: 2vw;
}

#third_icon_div {
    margin-left: -4vw;
}

.text_div {
    width: 30vw;
    height: 7vh;
    margin-top: 3vh;
    margin-left: 35vw;
}

#third_container_div{
    height: 100vh;
    background-color: oldlace 
}


.line_div {
    width: 31vw;
    height: 0.1vh;
    margin-left: 3vw;
    margin-top: 4vh;
    background-color: mediumseagreen;

}

.radio_btn_div {
    margin-top: 5vh;
    margin-left: 3vw;
}

.radio_btn_div2{
    margin-top: 2vh;
    margin-left: 3vw;
}

.radio_btn_div3{
    margin-top: 2vh;
}

.family_image {
    background-image: url("./guyslecture.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 66vh;
}

#pop_up_div {
    width: 18vw; 
    height: 25vh; 
    background-color: mediumseagreen;
    margin-left: 22vw;
    margin-top: 44vh;
}

#learn_more {
    width: 14vw; 
    height: 10vh; 
    background-color: transparent !important; 
    border-color: mediumseagreen;
    color: mediumseagreen; 
    font-size: 1.5vw; 
    font-weight: bold;
    margin-top: 5vh;
    margin-left: 3vw;
}

#fourth_container {
    height: 80vh;
    background-color: whitesmoke;
}

#business_image {
    background-image: url("./man-tea.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 66vh;
}

#fifth_container {
    height: 85vh;
    background-color: oldlace;
    margin-top: -5vh
}

#six_container {
    height: 60vh;
    background-color: teal;
}

#text_container {
    width: 60vw;
    padding-top: 10vh; 
    margin-left: 21vw;
}
#paragraph {
    font-weight: bold;
    font-size: 2vw;
    color: white;
    font-family: cursive;
}

#seven_container {
    height: 100vh;
    background-color: whitesmoke;
}

#card_image {
    background-image: url("./th.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}